body{
  background-image: url("Ibiza Sunset.jpg");
}

p{
  font-family: 'Work Sans';
  color: #ffffff;
}

h1{
  font-family: 'Work Sans';
  color: #ffffff;
  text-align: center;
}

h4{
  font-family: 'Work Sans';
  color: #ffffff;
  text-align: center;
}
